<html>
  <head>
    <title>round 2</title>
    <link rel="stylesheet" href="/css/home.css" type="text/css" />
  </head>
  <body>
    <h1 class="headline">Round 2</h1>

    <section class="main-container">
      <div class="book">
        <h3>Book Title</h3>
        <input type="text" name="BookTitle" required />
      </div>
      <div class="author">
        <h3>Author Name</h3>
        <input type="text" name="AutherName" required />
      </div>
      <button type="submit">Submit</button>
    </section>
  </body>
</html>
