<html>
  <head>
    <title><% title %></title>
    <link rel="stylesheet" href="/css/home.css" type="text/css" />
  </head>
  <body>
    <h1 class="headline">Round 2</h1>



    <div class="display-container">
      <ol>
        <% for(let i of doc) { %>
          <li class="detail">
            <div class="field">
              <h3>Book Title</h3>
              <p><%= i.bookTitle %></p>
            </div>
              <div class="field">
               <h3>Author Name</h3> 
                <p><%= i.authorName %></p>
              </div>
              <div class="field">
               <h3>id</h3>
                <p><%= i._id%></p>
            </div>
          </li>
        <% } %>
      </ol>
    </div>

    <form action="/create" method="POST" id="new-doc" class="input-container">
      <input type="text"  name="bookTitle" placeholder="Enter Book Title" required/>
      <input type="text"  name="authorName" placeholder="Enter Author Name" required/>
      <button type="submit">SetRecord</button>
    </form>

    
      
    </section>
    <section></section>
  </body>
</html>
